.DS_Store
/plantMonitor/DHT22_MQTT_MKR1010/arduino_secrets.h
/plantMonitor/DHT22_MQTT/arduino_secrets.h
/plantMonitor/Eagle/plant/plantshield_huzzah.b\#1
/plantMonitor/Eagle/plant/plantshield_huzzah.brd
/plantMonitor/Eagle/plant/plantshield_huzzah.cam
/plantMonitor/Eagle/plant/plantshield_huzzah.pro
/plantMonitor/Eagle/plant/plantshield_huzzah.sch
/plantMonitor/Eagle/plantshield_huzzah.brd
/plantMonitor/Eagle/plantshield_huzzah.sch
/plantMonitor/Eagle/plant/old/plant.brd
/plantMonitor/Eagle/plant/old/plant.sch
/plantMonitor/Eagle/plant/plantshield_huzzah_2020-06-17.zip
/plantMonitor/Eagle/plant/eagle.epf
/plantMonitor/Eagle/plant/old/Adafruit ESP8266 Feather.brd
/plantMonitor/Eagle/plant/old/Adafruit ESP8266 Feather.sch
/blinkingMonster/.DS_Store
/plantMonitor/testMQTT/arduino_secrets.h
arduino_secrets.h
/test.md
/password.md
.theia
